body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}

/* 3171cf */
p,
input,
textarea {
	font-family: 'Lora', serif;
}

/****************
SECTION
*****************/
section {
	background-color: #fff;
	padding: 80px 0;
}

section.darker {
	background-color: #fbfbfb;
}

section header {
	text-align: center;
	margin-bottom: 80px;
}

p {
	color: #808080;
}

address {
	margin-bottom: 50px;
}

address span {
	margin-top: 0;
	margin-bottom: 25px;
	font-size: 20px;
	display: block;
}

a {
	color: #3171cf;
}

a:hover,
a:focus {
	color: #3171cf;
	transition: all .5s;
}

.logo {
	position: absolute;
	left: 15px;
	top: 15px;
}

.logo img {
	width: 50px;
}

.menu-toggle {
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 30px;
	color: #fff;
}

.menu {
	width: 300px;
	display: block;
	background: #333;
	height: 100%;
	top: 0;
	right: -300px;
	position: fixed;
	z-index: 100;
	text-align: center;
	transition: right 0.4s;
}

.menu.nav-expanded {
	right: 0;
}

.menu .close {
	color: #fff;
	margin-right: 10px;
	margin-top: 10px;
}

.menu h3 {
	margin-top: 50px;
	text-transform: uppercase;
}

.menu .nav {
	padding: 0;
}

.menu .nav > li > a {
	color: #fff;
}

.menu .nav > li > a:hover,
.menu .nav > li > a:focus {
	background: transparent;
	color: #3171cf;
	transition: all .5s;
}

.menu .social-icons {
	margin-top: 50px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.menu .social-icons li {
	margin-right: 10px;
	float: none;
	display: inline-block;
}

.menu .social-icons li:last-child {
	margin-right: 0;
}

.menu .social-icons > li > a {
	width: 30px;
	height: 30px;
	line-height: 30px;
}

.jumbotron {
	text-align: center;
	position: relative;
	background: url('../img/bg-new.jpg');
	background-size: 100% 100%;
	color: #fff;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-info {
	position: relative;
}

.jumbotron .mask {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
	opacity: 0.5;
}

/* .jumbotron .container {
	margin-top: 260px;
} */

.jumbotron p {
	color: #fff;
}

.jumbotron h1 {
	text-transform: uppercase;
	margin-bottom: 30px;
}


/***
SERVICES
****/
.service-item {
	text-align: center;
}

.service-item .icon {
	border: 1px #b3b3b3 solid;
	margin: 0 auto;
	border-radius: 100%;
	width: 110px;
	height: 110px;
	display: block;
	margin-bottom: 60px;
}

.service-item .icon i {
	line-height: 110px;
	font-size: 45px;
	color: #3171cf;
}

.service-item .icon:hover {
	background-color: #3171cf;
	border-color: #3171cf;
	transition: all .8s;
}

.service-item .icon:hover i {
	color: #fff;
	transition: all .8s;
}

.service-item h3 {
	margin-bottom: 60px;
}

.service-item .icon .icon-pen {
	background: url('img/icon/pen.png');
}

/****
PORTFOLIO
*****/
.project {
	border: 1px solid #808080;
	margin-bottom: 70px;
}

.project .project-info h3 {
	margin-top: 50px;
}

.project .project-info p {
	padding-right: 30px;
	margin: 30px 0;
}

.project .project-info .close {
	position: absolute;
	right: 20px;
	top: 10px;
	width: 20px;
	height: 20px;
	font-size: 20px;
	color: #808080
}

.portfolio-item {
	position: relative;
	margin-bottom: 30px;
	height: 400px;
	border-radius: 10px;
	overflow: hidden;
}

.portfolio-item .mask {
	position: absolute;
	top: 0;
	left: 15px;
	right: 15px;
	height: 100%;
	transition: all 0.4s;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	border-radius: 10px;
}

.img-responsive {
	height: 100%;
	width: 100%;
	border-radius: 10px;
}

.portfolio-item .mask p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	text-align: center;
	font-size: 18px;
}

.portfolio-item:hover .mask {
	opacity: 1;
	transition: all .5s;
}

.map-container {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	margin-bottom: 80px;
}

.map-container iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

.btn {
	padding: 15px 30px;
	border-radius: 0;
	-webkit-transition: border-color 0.4s, color 0.4s;
	transition: border-color 0.4s, color 0.4s;
}

.btn-primary {
	background: #3171cf;
	border-width: 2px;
	color: #fff;
	border-color: #3171cf;
}

.btn-primary:hover,
.btn-primary:focus {
	background: #fff;
	color: #3171cf;
	border-color: #3171cf;
	transition: all .5s;
}


/*******************************
FORMS
********************************/
form {
	margin-bottom: 70px;

}

.form-group .btn {
	width: 100%;
	text-transform: uppercase;
}

.form-control {
	padding: 17px 25px;
	font-size: 15px;
	height: auto;
	border-radius: 0;
	background: #f1f4f7;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all 0.5;
	transition: all 0.5s;
	border: 1px solid #fff;
}

.form-control:focus {
	border: 1px solid #454554;
	-webkit-box-shadow: none;
	box-shadow: none;
}

footer {
	padding: 75px 0;
	background-color: #333;
	color: #fff;
}

footer p {
	color: #fff;
}

ul.social-icons {
	list-style: none;
	padding: 0;
}

ul.social-icons > li {
	float: left;
	margin-right: 25px;
}

ul.social-icons > li > a {
	color: #333;
	width: 38px;
	height: 38px;
	line-height: 38px;
	border-radius: 100%;
	background: #fff;
	display: block;
	text-align: center;
}


@media screen and (min-width: 768px) {

	.jumbotron h1,
	.jumbotron .h1 {
		font-size: 75px;
	}
}
